.MessageBox {
  position :absolute;
  left: 0;
  right: 0;
  top: 25px;
  margin: auto;
  /* height: 250px; */
  width: 400px;
  padding: 4px;
  background: var(--menu-background);
  border: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
}
.MessageBox_img {
  outline: solid 1px black;
  margin: 0 0 0 46px;
}
.MessageBox_p {
  margin: 0;
  font-size: 18px;
}
.MessageBox_button {
margin: 0;
font-size:10px;
padding: 0;
-webkit-appearance: none;
background: none;
border: 0;
font-family: inherit;
cursor: pointer;

position: absolute;
right: 2px;
bottom: 0;
}
.InputMessageBox_p {
  margin: 0;
  font-size: 18px;
}

.InputMessageBox_button {
margin: 0;
font-size:10px;
padding: 0;
-webkit-appearance: none;
background: none;
border: 0;
font-family: inherit;
cursor: pointer;
}
.cancel {
position: absolute;
right: 2px;
bottom: 0;
}
.send {
position: absolute;
right: 50px;
bottom: 0;
}
.TextInput {
  display: inline;
}